/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  background: #1976d2;
  color: #ffffff;
	line-height: 1;
  font-family: 'Text Me One', sans-serif;
  margin: 25px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.session {
  background: #2e7d32;
  color: #ffffff;
}

.break {
  background: #880e4f;
  color: #ffffff;
}

h1 {
  margin-bottom: 25px;
}

#app {
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

span {
  display: inline-block;
  margin: 0 10px;
}

#settings {
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
}

button {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  font-size: 25px;
  padding: 0 10px;
  margin-top: 10px;
  outline: 0;
  transform: translateY(-5px);
}

p {
  font-family: "Text Me One", sans-serif;
}

#clock {
  margin-top: 15px;
}

#time {
  font-size: 60px;
  margin-top: 15px;
}

#label {
  font-size: 14px;
  transform: translateY(-15px);
}

progress {
  font-size: 20px;
}

#controls {
  margin-top: 25px;
}

#start {
  font-size: 48px;
}

.hidden {
  visibility: hidden;
}

footer {
  margin-top: 25px;
}

a {
  color: #ffffff;
}
